<% content_for :header do %>
<%= javascript_include_tag 'admin/assets', 'swfupload', 'upload_progress' %>
<% end -%>

<dl id="asset-browser">
<% asset_types.each do |asset_type, assets| %>
  <dt class="<%= asset_type.split('/').first.parameterize %>" id="<%= asset_type.parameterize %>-<%= assets.first.id %>"><%= asset_type %></dt>
  <dd id="<%= asset_type.parameterize %>-description">
    <h3 class="type-heading"><%= asset_type %></h3>
    <ul id="<%= asset_type.parameterize %>-list" class="asset-list">
    </ul>
  </dd>
<% end -%>
</dl>
<%= javascript_tag "new AssetBrowser('#{(@grouping || 'by_category')}', '#{params[:folder]}', #{for_content.to_s});" %>

