<% attached = (controller.action_name == 'attach' or controller.controller_name != 'assets') %>
<%= image_tag asset.public_filename(:square) %>
<div>
  <h4><%= truncate(asset.filename,{:length => 50}) %></h4>
  <%= link_to_function "View Info", "AssetBrowser.openInfo(#{asset.id}, this)", :title => "View and update information for this image." %><br />

<% if for_content or attached %>
  <h4>Insert Image</h4>
  <%= link_to_function "Large", "addAsset(#{asset.id}, 'large' )", :title => "Click to insert a large version of this image into the currently active text area on the left." %> | <%= link_to_function "Medium ", "addAsset(#{asset.id}, 'medium' )", :title => "Click to insert a medium version of this image into the currently active text area on the left." %> | <%= link_to_function "Small ", "addAsset(#{asset.id}, 'thumb' )", :title => "Click to insert a small version of this image into the currently active text area on the left." %><br/>
<% end -%>
<br/>
<% if for_content %>
  <%= link_to_function "Attach", "AssetBrowser.addAssetToContentNode(#{asset.to_json}.#{asset.class.name.demodulize.underscore})", :title => "Show this image in the current page's galley section." %>
<% elsif attached %>
  <%= link_to_function "Detach", "AssetBrowser.removeAssetFromContentNode(#{asset.id})", :title => "Remove this image from the current page, still available to other pages." %>
<% else %>
  <%= link_to_function "Delete", "AssetBrowser.assetAction(#{asset.to_json}.#{asset.class.name.demodulize.underscore})", :title => "Totally delete this image from all pages of the website, not undo-able" %>
<% end -%>

</div>
