<h2><%= content_node.class.name.titleize %> <%= title %></h2>
<ul class="asset-list" id="<%= title.parameterize %>-list">
<% for asset in assets -%>
  <li id="asset-<%= asset.id %>" class="<%= asset.content_type.gsub('/','-') %>">
<% if asset.content_type =~ /image/ -%>
    <%= render :partial => "admin/assets/image", :locals => { :asset => asset, :for_content => false } %>
<% else -%>
    <%= render :partial => "admin/assets/document", :locals => { :asset => asset, :for_content => false } %>
<% end -%>
  </li>
<% end -%>
</ul>
